In [1]:
#import neccesary libraries
import pandas as pd
import json

In [ ]:
with open('t20_json_files/t20_wc_match_results.json') as f:
    data = json.load(f)

In [7]:
#set to a dataframe
df_match = pd.DataFrame(data[0]['matchSummary'])
#view the first 5 rows
df_match.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830