In [1]:
#import neccesary libraries
import pandas as pd
import json

In [ ]:
with open('t20_json_files/t20_wc_match_results.json') as f:
    data = json.load(f)

In [7]:
#set to a dataframe
df_match = pd.DataFrame(data[0]['matchSummary'])
#view the first 5 rows
df_match.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [8]:
#checksize of the dataframe
df_match.shape

(45, 7)

In [22]:
#create a match id dictionary
match_id_dict = {}
#loop through the dataframe and create a key value pair
for index, row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    
    #add the key value pair to the dictionary
    match_id_dict[key1] = row['match_id']
    match_id_dict[key2] = row['match_id']

In [9]:
#rename scorecard column to match_id
df_match.rename(columns={'scorecard':'match_id'}, inplace=True)

-- Batting Summary --

In [ ]:
# retrieve batting summary data
with open('t20_json_files/t20_wc_batting_summary.json') as f:
    data = json.load(f)

In [16]:
#create an array of all the batting summary data
batting_summary = []
#loop through the data and append to the array
for rec in data:
    batting_summary.extend(rec['battingSummary'])

In [17]:
#create a dataframe from the array
df_batting = pd.DataFrame(batting_summary)
#view the first 5 rows
df_batting.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33

In [18]:
#create a new column for the out/not_out status
df_batting['out_not_out'] = df_batting['dismissal'].apply(lambda x: 'not_out' if x == '' else 'out')
#view the first 5 rows
df_batting.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out_not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,out

In [19]:
#drop dismissal column
df_batting.drop('dismissal', axis=1, inplace=True)
#view the first 10 rows
df_batting.head(10)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out_not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,6,6,0,0,100.00,out

In [21]:
#remove unnecessary characters from the batmanname column
df_batting['batsmanName'] = df_batting['batsmanName'].str.replace('*', '')
df_batting['batsmanName'] = df_batting['batsmanName'].str.replace('â€ ', '')
df_batting['batsmanName'] = df_batting['batsmanName'].str.replace('\xa0', '')

C:\Users\DELL\AppData\Local\Temp\ipykernel_8400\3597304157.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_batting['batsmanName'] = df_batting['batsmanName'].str.replace('*', '')